/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
Previous Versions
v1.0 (200802)
Acknowledgments
Thanks to Paul Chaplin for the blockquote / q rules.

Identity Archipelago
Twitter
GitHub
Flickr
Dribbble
Facebook
LinkedIn
The excuse of the day isionizing radiation from orbiting satellite debris
All contents of this site, unless otherwise noted, are ©1993-2022 Eric A. and Kathryn S. Meyer. All Rights Reserved.
"Thoughts From Eric" is powered by WordPress. Most of the rest of the site is hand-authored.
The ink-sketch images used in this site’s design are adapted from Yūzan Mori’s Hamonshū, Volumes 1-3, published in 1903 and made available for public use by the Smithsonian Libraries and the Internet Archive.

/*
=====================
LAYOUT
=====================
*/

* {
    display: block;
}

.showFox {
    width: 100%;
}

h1 {
    text-align: center;
}

.btn {
    text-align: center;
    width: 100%;
}

button {
    background: rgba(0,0,0,0);
    border: 1px solid white;
    box-shadow: -3px 3px 20px black;
    color: white;
    font-size: 1.2rem;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: -3px 3px 3px black;
}

button:hover {
    background: rgba(255, 255, 255, .2);
    border: 1px solid white;
    color: white;
}

section {
    padding: 50px auto;
}

html, button {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}




/*
=====================
IMAGE
=====================
*/

.showFox {
    width: 100%;
    text-align: center;
}

img {
    box-shadow: -3px -3px 20px black;
    max-height: 300px;
}

/*
=====================
TEXT
=====================
*/

h1 {
    color: white;
    font-size: 6rem;
    font-weight: 100;
    margin-top: 30px;
    text-shadow: -3px 3px 3px black;
}

/*
=====================
BACKGROUND
=====================
*/

html {
    background: url(images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}